
@{

    Layout = "~/Views/Home/layout.cshtml";
}


    

    <head>
        <title>داروخانه &mdash;درباره</title>

    </head>

    <body>



        <div class="site-section py-5" data-aos="fade">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <h3 class="text-black h4">چرا ما</h3>
                        @*<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem assumenda, delectus. Amet repellendus quidem, fugiat.</p>*@

                    </div>
                    <div class="col-lg-4">
                        <h3 class="text-black h4">تاریخ</h3>
                        @*<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda iste aut, ut similique nobis ab?</p>*@

                    </div>
                    <div class="col-lg-4">
                        <h3 class="text-black h4">دستاورد ها</h3>
                        @*<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae nisi magni in fugit, ad laudantium.</p>*@

                    </div>
                </div>
            </div>
        </div>

        <div class="site-section bg-light custom-border-bottom" data-aos="fade">
            <div class="container">
                <div class="row justify-content-center mb-5">


                    <div class="title-section text-center col-md-7">
                        <h2 class="text-primary">کارکنان <strong style="color:black">ما</strong></h2>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4 mb-5">

                        <div class="block-38 text-center">
                            <div class="block-38-img">
                                <div class="block-38-header">
                                    <img src="~/assets/images/person_1.jpg" alt="Image placeholder" class="mb-4">
                                    <h3 class="block-38-heading h4">Elizabeth Graham</h3>
                                    <p class="block-38-subheading">CEO/Co-Founder</p>
                                </div>
                                <div class="block-38-body">
                                    @*<p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio
                                        recusandae doloribus ut fugit officia voluptate soluta.
                                    </p>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="block-38 text-center">
                            <div class="block-38-img">
                                <div class="block-38-header">
                                    <img src="~/assets/images/person_2.jpg" alt="Image placeholder" class="mb-4">
                                    <h3 class="block-38-heading h4">Jennifer Greive</h3>
                                    <p class="block-38-subheading">Co-Founder</p>
                                </div>
                                <div class="block-38-body">
                                    @*<p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio
                                        recusandae doloribus ut fugit officia voluptate soluta.
                                    </p>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="block-38 text-center">
                            <div class="block-38-img">
                                <div class="block-38-header">
                                    <img src="~/assets/images/person_3.jpg" alt="Image placeholder" class="mb-4">
                                    <h3 class="block-38-heading h4">Patrick Marx</h3>
                                    <p class="block-38-subheading">Marketing</p>
                                </div>
                                <div class="block-38-body">
                                    @*<p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio
                                        recusandae doloribus ut fugit officia voluptate soluta.
                                    </p>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="block-38 text-center">
                            <div class="block-38-img">
                                <div class="block-38-header">
                                    <img src="~/assets/images/person_4.jpg" alt="Image placeholder" class="mb-4">
                                    <h3 class="block-38-heading h4">Mike Coolbert</h3>
                                    <p class="block-38-subheading">Sales Manager</p>
                                </div>
                                <div class="block-38-body">
                                    @*<p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio
                                        recusandae doloribus ut fugit officia voluptate soluta.
                                    </p>*@
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-5">

                        <div class="block-38 text-center">
                            <div class="block-38-img">
                                <div class="block-38-header">
                                    <img src="~/assets/images/person_1.jpg" alt="Image placeholder" class="mb-4">
                                    <h3 class="block-38-heading h4">Elizabeth Graham</h3>
                                    <p class="block-38-subheading">CEO/Co-Founder</p>
                                </div>
                                <div class="block-38-body">
                                    @*<p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio
                                        recusandae doloribus ut fugit officia voluptate soluta.
                                    </p>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="block-38 text-center">
                            <div class="block-38-img">
                                <div class="block-38-header">
                                    <img src="~/assets/images/person_2.jpg" alt="Image placeholder" class="mb-4">
                                    <h3 class="block-38-heading h4">Jennifer Greive</h3>
                                    <p class="block-38-subheading">Co-Founder</p>
                                </div>
                                <div class="block-38-body">
                                    @*<p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio
                                        recusandae doloribus ut fugit officia voluptate soluta.
                                    </p>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-section bg-image overlay" style="background-image: url('~/assets/images/hero_bg_2.jpg');">
            <div class="container">
                <div class="row justify-content-center text-center">
                    <div class="col-lg-7">
                        <h3 class="text-white">برای خرید وارد حساب کاربری خود شوید</h3>
                        <p class="text-white">میتوانید در صورت تمایل حساب کاربری بسازید و وارد ان شوید</p>
                        <p class="mb-0"><a href="/Home/Login" class="btn btn-outline-white">ثبت نام</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-section site-section-sm site-blocks-1 border-0" data-aos="fade">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
                        <div class="icon mr-4 align-self-start">
                            <span class="icon-truck text-primary"></span>
                        </div>
                        <div class="text">
                            <h2>تحوبل سریع</h2>
                            <p>

                                ما به سرعت به سفارش شما پاسخ می دهیم و آن را به سرعت تحویل می دهیم.
                                <br />
                                امکان پرداخت در محل
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon mr-4 align-self-start">
                            <span class="icon-featured_play_list text-primary"></span>
                        </div>
                        <div class="text">
                            <h2>خرید آسان</h2>
                            <p>
                                فروشگاه ما را مرور کنید، به سبد خرید اضافه کنید، و پرداخت کنید - به همین سادگی
                                با ثبت سفارش آنلاین در این سایت می توانید به راحتی و به سرعت خرید کنید.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon mr-4 align-self-start">
                            <span class="icon-help text-primary"></span>
                        </div>
                        <div class="text">
                            <h2>پشتیبانی 24/7</h2>
                            <p>
                               
                               ! تیم پشتیبانی ما همیشه برای کمک در اینجا هستند - خدمات 24 ساعته, 7 روز هفته به مشتریان

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </body>


