
@{

    Layout = "~/Views/Home/layout.cshtml";
}



<head>
        <title>ایرانیان &mdash; صفحه اصلی</title>

    </head>

        <body>
         
            <div class="owl-carousel owl-single px-0">
                <div class="site-blocks-cover overlay" style="background-image: url('../../assets/images/hero_bg.jpg');">
                    <div class="site-blocks-cover overlay">
                    @*<div class="site-blocks-cover overlay" style="background-image: url(@ViewBag.bannerimg);">*@
                    @*'/assets/images/o.jpg'*@
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 mx-auto align-self-center">
                                <div class="site-block-cover-content text-center">
                                    <h1 class="mb-0"><strong class="text-primary">فروشگاه ما</strong>24 ساعته باز است</h1>

                                    <h1>@ViewBag.title</h1>

                                    <div class="row justify-content-center mb-5">

                                    </div>

                                    @*<p><a href="/Home/Shop" class="btn btn-primary px-5 py-3">خرید</a></p>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    </div>
                    <div class="site-blocks-cover overlay">
                        <div class="site-blocks-cover overlay" style="background-image: url('../../assets/images/hero_1.jpg');">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12 mx-auto align-self-center">
                                        <div class="site-block-cover-content text-center">
                                            <h1 class="mb-0">اولویت ما <strong class="text-primary">سلامت شما</strong></h1>
                                            <div class="row justify-content-center mb-5">

                                            </div>
                                            @*<p><a href="/Home/Shop" class="btn btn-primary px-5 py-3">خرید</a></p>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

      

                <div class="site-section py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="feature">
                                    <span class="wrap-icon flaticon-24-hours-drugs-delivery"></span>
                                    <h3><a href="#">تحویل دارو</a></h3>
                                    <p>
                                        با ما از راحتی تحویل درب منزل لذت ببرید!  تحویل درب منزل برای همه سفارش هاارائه می دهیم. تیم تحویل دوستانه و کارآمد ما داروها و محصولات بهداشتی شما را مستقیماً به درب منزل شما می‌آورد، بنابراین شما می‌توانید بر روی مهم‌ترین چیزها تمرکز کنید - سلامتی و تندرستی خود.

                                    </p>
                                    <p><a href="#" class="d-flex align-items-center"><span class="mr-2">Learn more</span> <span class="icon-keyboard_arrow_right"></span></a></p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="feature">
                                    <span class="wrap-icon flaticon-medicine"></span>
                                    <h3><a href="#">جدیدترین محصولات پزشکی-زیبایی</a></h3>
                                    <p>ما دائماً موجودی خود را به روز می کنیم تا جدیدترین و بهترین پیشرفت های پزشکی را به شما ارائه دهیم. بخش ورودی های جدید ما جایی است که جدیدترین محصولات پزشکی-زیبایی، مکمل ها و محصولات بهداشتی را پیدا خواهید کرد که می توانند به شما در دستیابی به اهداف سلامتی خود کمک کنند. . !</p>
                                    <p><a href="#" class="d-flex align-items-center"><span class="mr-2">Learn more</span> <span class="icon-keyboard_arrow_right"></span></a></p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="feature">
                                    <span class="wrap-icon flaticon-test-tubes"></span>
                                    <h3><a href="#">کیفیت و اصالت محصولات</a></h3>
                                    <p> ما به ارائه داروهای با کیفیت بالا و معتبر که بالاترین استانداردهای ایمنی و اثربخشی را برآورده می کنند، افتخار می کنیم. داروهای ما از تولید کنندگان معتبر تهیه می شوند و به طور کامل بازرسی می شوند تا اطمینان حاصل شود که آنها با اقدامات کنترل کیفیت دقیق ما مطابقت دارند..</p>
                                    <p><a href="#" class="d-flex align-items-center"><span class="mr-2">Learn more</span> <span class="icon-keyboard_arrow_right"></span></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="site-section bg-light">
                    <div class="container">
                        <div class="row">
                            <div class="title-section text-center col-12">
                                <h2>محصولات <strong class="text-primary">فروشگاه</strong></h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 block-3 products-wrap">
                                <div class="nonloop-block-3 owl-carousel">

                                    <div class="text-center item mb-4 item-v2">
                                        <span class="onsale">تخفیف</span>
                                        <a href="shop-single.html"> <img src="~/assets/images/product_03.png" alt="Image"></a>
                                        <h3 class="text-dark"><a href="shop-single.html">کرم تقویتی قطره ای</a></h3>
                                        <p class="price">120.00 T</p>
                                    </div>

                                    <div class="text-center item mb-4 item-v2">
                                        <a href="shop-single.html"> <img src="~/assets/images/product_01.png" alt="Image"></a>
                                        <h3 class="text-dark"><a href="shop-single.html">میسلار واتر</a></h3>
                                        <p class="price">145.00 T</p>
                                    </div>

                                    <div class="text-center item mb-4 item-v2">
                                        <span class="onsale">تخفیف</span>
                                        <a href="shop-single.html"> <img src="~/assets/images/product_02.png" alt="Image"></a>
                                        <h3 class="text-dark"><a href="shop-single.html">روغن قطره ای</a></h3>
                                        <p class="price">170.00 T</p>
                                    </div>

                                    <div class="text-center item mb-4 item-v2">
                                        <a href="shop-single.html"> <img src="~/assets/images/product_04.png" alt="Image"></a>
                                        <h3 class="text-dark"><a href="shop-single.html">مکمل چاق کننده</a></h3>
                                        <p class="price">90.00 T</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="site-section bg-image overlay" style="background-image:url('~/assets/images/bg_1.jpg'); ">

                    <div class="container">
                        <div class="row justify-content-center text-center">
                            <div class="col-lg-7">
                                <h3 class="text-white">برای خرید وارد حساب کاربری خود شوید</h3>
                                <p class="text-white">میتوانید در صورت تمایل حساب کاربری بسازید و وارد ان شوید</p>
                                <p class="mb-0"><a href="/Home/Login" class="btn btn-outline-white">ثبت نام</a></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="site-section">
                    <div class="container">

                        <div class="row justify-content-between">
                            <div class="col-lg-6">
                                <div class="title-section">
                                    <h2>رضایت <strong class="text-primary">مشتریان</strong></h2>
                                </div>
                                <div class="block-3 products-wrap">
                                    <div class="owl-single no-direction owl-carousel">

                                        <div class="testimony">
                                            <blockquote>
                                                <img src="~/assets/images/person_1.jpg" alt="Image" class="img-fluid">
                                                <p>&ldquo;بسیار از شما متشکرم داروخانه ای عالی!! .&rdquo;</p>
                                            </blockquote>

                                            <p class="author">&mdash; کیمیا رضایی</p>
                                        </div>

                                        <div class="testimony">
                                            <blockquote>
                                                <img src="~/assets/images/person_2.jpg" alt="Image" class="img-fluid">
                                                <p>
                                                    &ldquo; داروهایی که خواسته بودم رو به موقع و سریع دستم رسید راضی بودم&rdquo;
                                                </p>
                                            </blockquote>

                                            <p class="author">&mdash; محسن صادقی</p>
                                        </div>

                                        <div class="testimony">
                                            <blockquote>
                                                <img src="~/assets/images/person_3.jpg" alt="Image" class="img-fluid">
                                                <p>
                                                    &ldquo; خدمات سریع و حرفه ای&rdquo;
                                                </p>
                                            </blockquote>

                                            <p class="author">&mdash; محمد اکبری</p>
                                        </div>

                                        <div class="testimony">
                                            <blockquote>
                                                <img src="~/assets/images/person_4.jpg" alt="Image" class="img-fluid">
                                                <p>
                                                    &ldquo;داروخانه ای خوب با کارکنان خوش برخورد&rdquo;
                                                </p>
                                            </blockquote>

                                            <p class="author">&mdash; کمال احمدی</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            @*<div class="col-lg-5">
                                <div class="title-section">
                                    <h2 class="mb-5">چرا<strong class="text-primary">ما</strong></h2>
                                    <div class="step-number d-flex mb-4">
                                        <span>1</span>
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo omnis voluptatem consectetur quam tempore</p>
                                    </div>

                                    <div class="step-number d-flex mb-4">
                                        <span>2</span>
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo omnis voluptatem consectetur quam tempore</p>
                                    </div>

                                    <div class="step-number d-flex mb-4">
                                        <span>3</span>
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo omnis voluptatem consectetur quam tempore</p>
                                    </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                @*</div>*@


</body>



