
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>ایرانیان &mdash; تماس با ما</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/css/jquery-ui.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/assets/css/aos.css">
    <link rel="stylesheet" href="~/assets/css/style.css">

</head>

<body>

    <div class="site-wrap">


        <div class="site-navbar py-2">

            <div class="search-wrap">
                <div class="container">
                    <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
                    <form action="#" method="post">
                        <input type="text" class="form-control" placeholder="جستجو...">
                    </form>
                </div>
            </div>

            <div class="container">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="logo">
                        <div class="site-logo">
                            <a href="/Home/Index" class="js-logo-clone"><strong class="text-primary">تجهیزات پزشکی زیبایی</strong>ایرانیان</a>
                        </div>
                    </div>
                    <div class="main-nav d-none d-lg-block">
                        <nav class="site-navigation text-right text-md-center" role="navigation">
                            <ul class="site-menu js-clone-nav d-none d-lg-block">
                                <li><a href="/Home/CallUs">تماس با ما</a></li>
                                <li class="active"><a href="/Home/Index">صفحه اصلی</a></li>
                                <li><a href="/Home/Shop">فروشگاه</a></li>
                                <li class="has-children">
                                    <a href="/Home/Shop">محصولات</a>
                                    <ul class="dropdown">
                                        <li><a href="#">مکمل </a></li>
                                        <li class="has-children">
                                            <a href="#">ویتامین </a>
                                            <ul class="dropdown">
                                                <li><a href="#">مکمل ها</a></li>
                                                <li><a href="#">ویتامین ها</a></li>
                                                <li><a href="#">رژیم و تغذیه</a></li>
                                                <li><a href="#">چای و قهوه</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">رژیم و تغذیه</a></li>
                                        <li><a href="#">چای و قهوه</a></li>

                                    </ul>
                                </li>
                                <li><a href="/Home/about">درباره</a></li>
                                <li><a href="/Home/contact">ارتباط با پشتیبانی</a></li>
                            </ul>
                        </nav>
                    </div>

                    <div class="icons">
                        <a href="#" class="icons-btn d-inline-block js-search-open"><span class="icon-search"></span></a>
                        <a href="/Home/Cart" class="icons-btn d-inline-block bag">
                            <span class="icon-shopping-bag"></span>
                            <span class="number">2</span>
                        </a>
                        <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none">
                            <span class="icon-menu"></span>
                        </a>
                    </div>
                </div>
            </div>


        </div>


        <footer class="site-footer bg-light text-center" style="float:right">
            <div class="container">
                <div class="row">


                    <div class="block-7">
                        <div class="block-5 mb-5">
                            <h3>اطلاعات تماس</h3>

                            <ul class="list-unstyled">
                                <li class="address">  مشهد, خیابان پاسداران ,نبش پاسداران 2 , برج فیروزه شهر , طبقه سوم ,واحد 3109</li>
                                <li class="phone"><a href="tel://23923929210">+98 9157668940</a></li>
                                <li class="email">emailaddress@domain.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>








    @*<div class="container sizeBox" style="float:left">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="title">تماس با ما</h2>
                    <form style="float:left">
                        <div class="form-group">
                            <label for="name">نام</label>
                            <input type="text" id="name" name="name" class="form-control" placeholder="نام">
                        </div>
                        <div class="form-group">
                            <label for="family">نام خانوادگی</label>
                            <input type="text" id="family" name="family" class="form-control" placeholder="نام خانوادگی">
                        </div>
                        <div class="form-group">
                            <label for="email">ایمیل</label>
                            <input type="email" id="email" name="email" class="form-control" placeholder="ایمیل">
                        </div>
                        <div class="form-group">
                            <label for="message">پیام</label>
                            <textarea id="message" name="message" class="form-control" placeholder="پیام"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">ارسال</button>
                    </form>
                </div>
            </div>

        </div>*@


    @*<style>





            .container {
                /*  float: left;*/
                max-width: 500px;
                margin: 40px auto;
                padding: 20px;
                background-color: #f9f9f9;
                border: 1px solid #ddd;
                border-radius: 10px;
                box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
            }

            .row {
                margin-bottom: 20px;
            }

            .title {
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 10px;
            }

            .form-group {
                margin-bottom: 20px;
            }

            label {
                font-size: 14px;
            }

            .form-control {
                width: 100%;
                height: 30px;
                padding: 10px;
                border: none;
                border-radius: 5px;
            }

                .form-control:focus {
                    box-shadow: none;
                }

            .btn-primary {
                background-color: #7fb239;
                color: #fff;
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
            }

                .btn-primary:hover {
                    background-color: #23527c;
                }
        </style>*@


    <div class="site-section">
        <div class="container">
            <div class="row">
               
                <div class="col-md-12">

                    <form action="#" method="post">

                        <div class="p-3 p-lg-5 border">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="c_fname" class="text-black">نام <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="c_fname" name="c_fname">
                                </div>
                                <div class="col-md-6">
                                    <label for="c_lname" class="text-black">نام خانوادگی<span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="c_lname" name="c_lname">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label for="c_email" class="text-black">شماره تماس <span class="text-danger">*</span></label>
                                    <input type="email" class="form-control" id="c_email" name="c_email" placeholder="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label for="c_subject" class="text-black">موضوع </label>
                                    <input type="text" class="form-control" id="c_subject" name="c_subject">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label for="c_message" class="text-black">پیام </label>
                                    <textarea name="c_message" id="c_message" cols="30" rows="7" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-12">
                                    <input type="submit" class="btn btn-primary btn-lg btn-block" value="ارسال پیام">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>











    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made
    with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank"
                                                                         class="text-primary">docsitekia.com</a>







    <script src="~/assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/assets/js/jquery-ui.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/aos.js"></script>

    <script src="~/assets/js/main.js"></script>

</body>

</html>

